@media screen and (max-width: 600px){

  #desaparecer{
    display: none;
  }

  .sombra{
    box-shadow: 0px 1px 10px;
    background-color: black;
  }

  #botao{
    width: 40px;
    margin: 15px;
    display: inline-block;
    color: white;
    font-size: 40px;
  }

  .menu, .menu2{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .menu2{
    background-color: rgb(28,28,28);
    border-bottom: 1px solid grey;
  }

  .ponto{
    text-decoration-color: white;
  }

  .menu-lateral{
    background-color: black;
    width: 100%;
  }

  ul{
    display: inline;
  }

  ul li{
    border-bottom: 1px solid grey;
    list-style-type: none;
    padding-bottom: 5%;
    font-size: 25px;
    text-align: center;
    font-variant: small-caps;
    
    color: white;
  }

  ul li:not(#negacao){
    padding-top: 5%;
  }

  #espaco{
    height: 10px;
    background-color: rgb(28,28,28);
  }

}