span{
  color:rgb(136, 138, 139);
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: linear;
}

@media (min-width: 992px){

  .logo{
    margin-left: 12%;
    width: 7%;
    height: 3.3rem;
  }

  .logo img{
    height: inherit;
    width: 100%;
  }

  span:hover{
    color: rgb(139, 138, 74);
  }

  ul li{
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  ul, li{
    display: inline-block;
    color: rgb(136, 138, 139);
  }

  li{
    margin-left: 5%;
  }

  ul li:hover{
    color: gold;
    background-color: rgba(28,28,28, 0.5);
  }

  ul{
    width: 50%;
  }
  
  #botao{
    display: none;
  }

  .menu-lateral{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    display: flex;
    align-items: flex-start;
    background-color:rgb(36, 34, 34);
  }
}

@media screen and (max-width: 600px){
  
  #desaparecer, #invisivel{
    display: none;
  }

  .sombra{
    box-shadow: 0px 1px 10px;
    background-color: black;
  }

  #botao{
    width: 40px;
    margin: 15px;
    display: inline-block;
    color: white;
    font-size: 40px;
  }

  .menu, .menu2{
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    transition: height 20s;
  }

  .menu2{
    background-color: rgb(28,28,28);
    border-bottom: 1px solid grey;
  }

  .ponto{
    text-decoration-color: white;
  }

  .menu-lateral{
    background-color: black;
    width: 100%;
  }

  ul{
    display: inline;
  }

  ul li{
    border-bottom: 1px solid grey;
    list-style-type: none;
    padding-bottom: 5%;
    font-size: 25px;
    text-align: center;
    font-variant: small-caps;
    
    color: white;
  }

  ul li:not(#negacao){
    padding-top: 5%;
  }

  #espaco{
    height: 10px;
    background-color: rgb(28,28,28);
  }
}