@media (min-width: 992px){
    .rodape #sobreMim{
        width: 40%;
        margin-left: 12%;
    }
    .rodape span{
        color: rgb(134, 131, 131);
    }
    .rodape p{
        margin-right: 23px;
    }

    .rodape h3{
        padding-top: 3%;
        margin-top: 100px;
    }

    .rodape{
        display: flex;
        align-items: initial;
        background-color: rgb(36, 34, 34);
        width: 100%;
        color: rgb(221, 218, 218);
    }

    .rodape h4{
        text-align: center;
    }

    .rodape #email, #localizacao, #telefone{
        width: 3%;
    }
    .facebook, .github, .instagram{
        width: 19%;
        display: inline-block;
        margin-right: 9.3%;
    }

    img{
        width: 100%;
    }

    .rodape #sobreMim, .rodape #centro{
        border-bottom: 2px solid rgb(54, 53, 53);
    }

    #centro{
        display: inline-block;
        width: 40%;
     }

    #centro h3{
        margin-top: 30px;
    }

    #redes{
        margin-top: 6%;
        margin-left: 3%;
        width: 30%;
    }

}

@media screen and (max-width: 600px){
    .rodape{
        width: 86%;
        margin-left: auto;
        margin-right: auto;
        background-color:rgb(247, 253, 247);
    }

    .facebook, .github, .instagram{
        width: 13.3%;
        display: inline-block;
        margin-right: 2%;
        padding: 1%;
        margin-bottom: auto;
        margin-top: auto;
    }

    img{
        width: 100%;
    }

    #telefone, #localizacao, #email{
        width: 6%;
    }

    .rodape p{
        margin-left: 3%;
        font-size: 18px;
   }

    h4{
        text-align: center;
        text-transform: uppercase;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}