#sobreMim{
    width: 90%;
    margin-left: 5%;
    height: 180px;
}

h1{
    text-align: left;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1, h2{
    text-transform: uppercase;
}

h2{
    font-size: medium;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sobre div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}