.rodape{
    width: 100%;
}

.facebook, .github, .instagram{
    width: 19.3%;
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 1px 1px 6px;
}

img{
    width: 100%;
}